.sign {
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding-top: .25lh;
}

.content {
    padding-left: 10px;
    padding-bottom: 10px;
}

.top-text {
    border-top: solid 5px;
    margin-bottom: 0;
    padding-top: .25lh;
}

.bullet {
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
    max-height: 15px;
    font-size: x-large;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-weight: bolder;
    aspect-ratio: 1/1;
    min-height: 15px;
    line-height: .8lh;
    text-align: center;
    margin: 0;
}

.bway-bullet {
    background-color: yellow;
    color: black;
}

.lex-bullet {
    background-color: green;
    color: white;
}

.canarsie-bullet {
    background-color: gray;
    color: white;
}

.metrocard {}

.metrocard-images {
    display: flex;
    height: fit-content;
}

.metrocard-svg {

}

.metrocard-screen {
    margin: auto;
    background-color: #111827;
    min-width: 20ch;
    padding: 5px;
    padding-top: 0px;
    height: 3lh;
}

#screen-text {
    font-family: 'Consolas', monospace;
    font-weight: bolder;
    text-align: center;
    color: #60A5FA;
}

.metrocard-screen-caption {
    padding:10px;
}

.guide-image {
    padding-top:40px;
}