th {
    border: 1px solid darkblue;
    background-color: lightblue;
    border-radius: 5px;
    width: 10ch;
    height: 7.5ch;
}

table {
    border: 10px solid yellow; 
    background-color: aqua;
    border-radius: 15px;
}

a {
    color: black;
    text-decoration: none;
}